body {
  font-size: @font-size;
  color: @text-color;
  background-color: @app-background-color;
}

atom-pane {
  // border-bottom: 1px solid @tree-view-border-color;
  border-right: 2px solid @tree-view-background-color;

  &:last-child {
    border-right: none;
  }
}
