// expand/shrink section icon
.settings-view .sub-section .sub-section-heading.has-items::after {
  font-family: 'Material Icons' !important;
  font-size: 24px !important;
  content: 'remove' !important;
  width: 24px !important;
  height: 24px !important;
}
.settings-view .sub-section.collapsed .sub-section-heading:after {
  content: 'add' !important;
}

// github logo
.icon-logo-github::before {
  padding-left: 2px;
  padding-right: 2px;
  vertical-align: middle;
}

// icons
.icon:not(.icon-logo-github) {
  &::before,
  &::after {
    font-size: @component-icon-size !important;
    width: @component-icon-size !important;
    height: @component-icon-size !important;
    text-align: center !important;
  }
}

.icon {
  &.icon-bug,
  &.icon-cloud-download,
  &.icon-cloud-upload,
  &.icon-code,
  &.icon-device-desktop,
  &.icon-gear,
  &.icon-heart,
  &.icon-hourglass,
  &.icon-keyboard,
  &.icon-law,
  &.icon-link,
  &.icon-link-external,
  &.icon-package,
  &.icon-paintcan,
  &.icon-playback-pause,
  &.icon-playback-play,
  &.icon-plus,
  &.icon-settings,
  &.icon-squirrel,
  &.icon-tools,
  &.icon-trashcan,
  &.icon-search,
  &.icon-file,
  &.icon-file-directory,
  &.icon-file-text,
  &.icon-book,
  &.icon-alert,
  &.icon-circle-slash,
  &.icon-color-mode,
  &.icon-bell,
  &.icon-clock,
  &.icon-file-media,
  &.icon-file-directory-create,
  &.icon-file-add,
  &.icon-info,
  &.icon-question,
  &.icon-check,
  &.icon-chevron-up,
  &.icon-chevron-right,
  &.icon-chevron-down,
  &.icon-chevron-left,
  &.icon-clippy {
    &::before {
      font-family: 'Material Icons' !important;
      position: relative !important;
      font-size: @component-icon-size !important;
      top: 3px !important;

      & when (@font-size <= 16px) {
        top: 2px !important;
      }
    }
  }

  &.icon-chevron-up::before {
    content: 'expand_less';
  }

  &.icon-chevron-right::before {
    content: 'chevron_right';
  }

  &.icon-chevron-down::before {
    content: 'expand_more';
  }

  &.icon-chevron-left::before {
    content: 'chevron_left';
  }

  &.icon-clippy::before {
    content: 'content_paste';
  }

  &.icon-check::before {
    content: 'check';
  }

  &.icon-question::before {
    content: 'help_outline';
  }

  &.icon-info::before {
    content: 'info_outline';
  }

  &.icon-bell::before {
    content: 'notifications';
  }

  &.icon-circle-slash::before {
    content: 'not_interested';
  }

  &.icon-alert::before {
    content: 'warning';
  }

  &.icon-file-add::before {
    content: 'note_add';
  }

  &.icon-file-directory-create::before {
    content: 'create_new_folder';
  }

  &.icon-file::before {
    content: 'insert_drive_file';
  }

  &.icon-file-media::before {
    content: 'image';
  }

  &.icon-clock::before {
    content: 'schedule';
  }

  &.icon-color-mode::before {
    content: 'gradient';
  }

  &.icon-book::before {
    content: 'import_contacts';
  }

  &.icon-file-text::before {
    content: 'insert_drive_file';
  }

  &.icon-file-directory::before {
    content: 'folder';
  }

  &.icon-settings::before {
    content: 'tune';
  }

  &.icon-cloud-download::before {
    content: 'file_download';
  }

  &.icon-cloud-upload::before {
    content: 'file_upload';
  }

  &.icon-gear::before {
    content: 'settings';
  }

  &.icon-trashcan::before {
    content: 'delete';
  }

  &.icon-link::before {
    content: 'link';
  }

  &.icon-bug::before {
    content: 'bug_report';
  }

  &.icon-squirrel::before {
    content: 'timeline';
  }

  &.icon-law::before {
    content: 'gavel';
  }

  &.icon-link-external:before {
    content: 'launch';
  }

  &.icon-playback-play::before {
    content: 'play_arrow';
  }

  &.icon-playback-pause::before {
    content: 'pause';
  }

  &.icon-code::before {
    content: 'code';
  }

  &.icon-device-desktop::before {
    content: 'desktop_mac';
  }

  &.icon-keyboard::before {
    content: 'dialpad';
  }

  &.icon-plus::before {
    content: 'add';
  }

  &.icon-paintcan::before {
    content: 'palette';
  }

  &.icon-package::before {
    content: 'extension';
  }

  &.icon-heart::before {
    content: 'favorite';
  }

  &.icon-hourglass::before {
    content: 'hourglass_full';
  }

  &.icon-tools::before {
    content: 'settings';
  }

  &.icon-search::before {
    content: 'search';
  }
}
