.key-binding {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: .875em;
    display: inline-block;
    margin: 0 0 0 .71428571em;
    padding: 0 .35714285em;
    letter-spacing: .07142857em;
    border-radius: @component-border-radius + 1;
    background-color: @app-background-color;
    box-shadow: @shadow-highlight-top, 0 0 0 1px @app-background-color;
}
