.key-binding {
    box-shadow: @shadow-highlight-top;
    border: 1px solid @app-background-color;
    margin: 0;
    padding: 0.313em @component-padding;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 0.9em;
    letter-spacing: 1px;
    border-radius: @component-border-radius + 1;
    background-color: @app-background-color;
    vertical-align: top;
}
