atom-panel {
  // border-bottom: 1px solid @tool-panel-border-color;
}

atom-panel.modal, atom-panel.overlay {
  padding: 0.9375em;
  color: @text-color;
  max-width: 31.25em;
  border-radius: @component-border-radius * 2 !important;
  background-color: @overlay-background-color;
  box-shadow: @shadow-3, @shadow-highlight-top, @shadow-highlight-subtle-left, @shadow-highlight-subtle-right;

  &.from-top {
    top: @tab-height;
    margin-top: 2px;
    animation: hinge 225ms @standard-bezier;
  }

  .select-list .list-group {
    margin: 0;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .message, .loading, .error-message {
    font-size: @font-sub-size;
  }

  // command palette flex
  .command-palette {
    li {
      display: flex;
      flex-direction: row-reverse;

      & > * {
        flex: 1;
      }

      // title
      span {
        flex-basis: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .pull-right {
        display: flex;

        & > * {
          flex: 1;
        }
      }
    }
  }
}

// dock dividers
atom-dock {
  .atom-dock-inner {
    &.bottom, &.top {
      min-height: 1px;
    }
    &.left, &.right {
      min-width: 1px;
    }
    &.top .atom-dock-toggle-button-inner .icon::before {
      top: 5px;
    }
    &.right .atom-dock-toggle-button-inner .icon::before {
      right: 5px;
    }
    &.bottom .atom-dock-toggle-button-inner .icon::before {
      bottom: 5px;
    }
    &.left .atom-dock-toggle-button-inner .icon::before {
      left: 5px;
    }
  }

  .atom-dock-toggle-button-inner {
    background-color: transparent !important;

    .icon::before {
      background-color: @tool-panel-border-color;
      border-radius: 50%;
    }
  }

  .atom-dock-toggle-button {
    .atom-dock-toggle-button-inner {
      transition: transform 250ms 0ms @standard-bezier, background-color 300ms @standard-bezier;
    }
    .icon {
      transition: opacity 375ms 0ms @standard-bezier;
    }

    &:not(.atom-dock-toggle-button-visible) {
      .atom-dock-toggle-button-inner {
        transition: transform 200ms 50ms @standard-bezier, background-color 300ms @standard-bezier;
      }
      .icon {
        transition: opacity 250ms 0ms @standard-bezier;
      }
    }
  }
}

.status-bar {
  height: @tab-height;
  font-size: @font-size;
  line-height: @tab-height;

  .inline-block, .inline-block-tight {
    vertical-align: bottom;
  }
}

.title-bar {
  height: 38px;
  background-color: @tree-view-background-color;
  font-size: @font-sub-size;
}
