@-webkit-keyframes hinge {
    from {
        transform: perspective(1000px) rotate3d(1, 0, 0, 2deg) translateY(-6px);
        opacity: 0;
    }
    to {
        transform: perspective(1000px) rotate3d(1, 0, 0, 0deg) translateY(0px);
        opacity: 1;
    }
}

atom-panel.modal, .overlay {
    padding: 0.9375em;
    color: @text-color;
    max-width: 31.25em;
    border-radius: @component-border-radius * 2 !important;
    background-color: @overlay-background-color;
    box-shadow: @shadow-3, @shadow-highlight-top, @shadow-highlight-subtle-left, @shadow-highlight-subtle-right;

    &.from-top {
        top: @tab-height + @tab-height/2;
        -webkit-animation: hinge .2s @standard-bezier;
    }

    .select-list .list-group {
        margin: 0;
    }

    .message, .loading, .error-message {
        font-size: @font-sub-size;
    }

    // command palette flex
    .command-palette {
        li {
            display: flex;
            flex-direction: row-reverse;

            & > * {
                flex: 1;
            }

            // title
            span {
                flex-basis: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .pull-right {
                display: flex;

                & > * {
                    flex: 1;
                }
            }
        }
    }
}
