@import "ui-variables";
@tab-indicator-size: 5px;
@vertical-center: @tab-height - @tab-indicator-size;

@-webkit-keyframes pulse {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1.0;
    }
}

.tab-bar
{
    height: @tab-height;
    border: none;
    background: @tab-bar-background-color;
    box-shadow: none;

    .tab {
        font-size: @font-size;
        line-height: @vertical-center;
        color: @text-color;
        padding-left: 15px;
        background: @tab-background-color;
        border-bottom: @tab-indicator-size solid @accent-color-subtle;
        transition: background-color 0.3s, border-color 0.3s, color 0.3s;

        &:not(:last-child):after {
            content: '';
            background: -webkit-linear-gradient(top, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.2) 100%);
            height: @tab-height;
            width: 1px;
            position: absolute;
            bottom: -5px;
            right: 0;
        }
        &:first-child {
            padding-left: 15px;
        }

        .close-icon {
            // unfortunately a bit hacky here, to line up the "edited" status of tabs and the close button.
            & when (@font-size > 15) {
                top: -1px;
            }
            & when (@font-size > 10) and (@font-size < 16) {
                top: 1px;
            }
            & when (@font-size < 11) {
                top: 2px;
            }

            &:before {
                text-align: center;
                content: '+';
                font-family: 'Georgia', serif;
                width: 13px;
                height: 13px;
                line-height: 11px;
                transition: color 0.6s;
                transform: rotate(45deg);
                color: transparent;
                font-size: 17px;
            }
        }
        &.modified:not(:hover) .close-icon {
            top: @tab-height / 2 - 4;
            border-radius: 7px;
            width: 7px;
            height: 7px;
            right: 13px;
            background: @accent-color;
            border: none;
            -webkit-animation-name: pulse;
            -webkit-animation-duration: 4s;
            -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
            -webkit-animation-iteration-count: infinite;
        }
    }
    .tab:hover {
        color: @text-color-highlight;

        .close-icon {
            &:before {
                color: @text-color-highlight !important;
            }
        }
        &.modified .close-icon {
            top: @tab-height / 2 - 4;
            width: 7px;
            height: 7px;
            right: 13px;
            border-radius: 7px;
            background: @accent-color;
            border: none;

            &:before {
                display: none;
            }
        }
    }
    .tab.active {
        z-index: 10;
        color: @text-color-highlight;
        background-color: @tab-background-color-active;
        border-color: @accent-color;
        box-shadow: 0 0 7px darken(@tab-background-color, 4%);

        .close-icon {
            &:before {
                color: @text-color-highlight !important;
            }
        }
        &.modified .close-icon {
            &:before {
                display: none;
            }
        }
        & + .tab {
            &:before {
                content: '';
                background: rgba(0,0,0,0.2);
                height: @tab-height;
                width: 1px;
                position: absolute;
                bottom: -5px;
                left: 0;
            }
        }
        &:after {
            display: none;
        }
    }
    .is-dragging { }
    .is-drop-target { }
    .placeholder {
        pointer-events: none;
        height: @tab-height + 15px;
        background: @accent-color;

        &:after {
            background: @app-background-color;
            height: 6px;
            width: 6px;
            bottom: 0px;
            left: -1px;
            margin-top: 7px;
            box-shadow: 0px 0px 0px 2px @accent-color;
        }
    }
}
