.tooltip {
  .tooltip-inner {
    font-weight: 400;
    line-height: @component-line-height;
    max-width: none;
    padding: 0.375em 0.625em;
    white-space: nowrap;
    border-radius: @component-border-radius;
    background-color: @accent-color-subtle;
    box-shadow: @shadow-1;
    border: none;
    text-shadow: @shadow-text;
  }

  &.in {
    opacity: 1;
  }

  .keystroke {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0 0 0 0.3125em;
    padding: 0.3125em 0.3125em;
    letter-spacing: 0.063em;
    border-radius: @component-border-radius + 1;
    background-color: @app-background-color;
    box-shadow: @shadow-highlight-top, 0 0 0 1px @app-background-color;
  }

  .tooltip-arrow {
    display: none;
  }
}
