@import "ui-variables";

.tree-view {
  font-size: @font-size;
  background: @tree-view-background-color;

  .selected:before {
    background: lighten(@tree-view-background-color, 3%);
  }
}

.tree-view-resizer {
  .tree-view-resize-handle {
    width: 8px;
  }
}
