.tree-view {
    padding: 0;
    font-size: @font-size;
    background: @tree-view-background-color;

    .project-root {
        & > .header.list-item {
            line-height: @tab-height - @tab-border-height;
            height: @tab-height;
            padding: 0 .375em;
            border-bottom: @tab-border-height solid @accent-color-subtle;
            background: @tab-bar-background-color;

            &::before {
                visibility: hidden;
            }
        }

        & > .entries.list-tree {
            margin: .625em 0;
        }

        &::before {
            background-color: transparent;
        }
    }

    .list-tree {
        // folders
        .list-nested-item.selected::before {
            background-color: @button-background-color;
        }
        // files
        .list-item.selected::before {
            background-color: @accent-color-subtle;
        }
    }
}

// gutter divider for left or right positioned tree view
.left .tree-view-scroller {
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 1px;
        content: '';
        background: @tree-view-background-color;
    }
}

.right .tree-view-scroller {
    &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 1px;
        content: '';
        background: @tree-view-background-color;
    }
}

.tree-view-resizer {
    .tree-view-resize-handle {
        width: 10px;
    }
}
