.tree-view-dialog .icon {
  font-weight: normal !important;
}

.tree-view {
    padding: 0;
    font-size: @font-size;
    background-color: @tree-view-background-color;

    .project-root {
        & > .header.list-item {
            line-height: @tab-height - @tab-border-height;
            height: @tab-height;
            padding: 0 .25em;
            border-bottom: @tab-border-height solid;
            border-color: @accent-color-subtle;
            background-color: @tab-bar-background-color;

            .name::before {
                display: none;
            }

            &::before {
                visibility: hidden;
            }
        }

        & > .entries.list-tree {
            margin: .625em 0;
        }

        &::before {
            background-color: transparent;
        }
    }

    .list-tree {
        .selected {
            color: @text-color-selected;
        }
        .list-nested-item.selected::before, .list-item.selected::before {
            background-color: @accent-color-subtle;
        }
        li.list-item {
            margin-left: 0.8125em;
        }
    }

    &:not(:hover) {
        .project-root {
            & > .header.list-item {
                border-color: @tab-background-color;
                transition: border-color 0.5s @standard-bezier;

                .name {
                    opacity: 0.5;
                    transition: opacity 0.5s @standard-bezier;
                }
            }
        }
        .list-tree {
            .list-item {
                opacity: 0.5;
                transition: opacity 0.5s @standard-bezier, color 0.5s @standard-bezier;
            }
            .list-item.selected::before, .list-nested-item.selected::before {
                background-color: @tab-background-color;
                transition: background-color 0.5s @standard-bezier;
            }
        }
    }
}

// project header "tab" divider
atom-panel-container {
    &.left .tree-view-scroller {
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 1px;
            content: '';
            background-color: @tree-view-background-color;
        }
    }
    &.right .tree-view-scroller {
        &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 1px;
            content: '';
            background-color: @tree-view-background-color;
        }
    }
}
