@import "ui-root";

// accents
@accent-color: var(--accent-color);
@accent-color-subtle: var(--accent-color-subtle);
@accent-color-faded: @accent-color-subtle; // TODO

@ui-scale: var(--ui-scale);

// text colors
@text-color: #a8a8a8;
@text-color-subtle: #808080;
@text-color-highlight: #f0f0f0;
@text-color-selected: #ffffff;
@text-color-info: #6494ed;
@text-color-success: #73c990;
@text-color-warning: #e2c08d;
@text-color-error: #ff6347;

@text-selected: @accent-color-faded;

// background colors
@background-color-info: #0088ff;
@background-color-success: #1c9c71;
@background-color-warning: #cc8533;
@background-color-error: #d92626;
@background-color-highlight: lighten(@base-background-color, 4%);
@background-color-selected: lighten(@base-background-color, 10%);
@app-background-color: @base-background-color;

// base colors
@base-background-color: #282828;
@base-border-color: darken(@base-background-color, 8%);

// component colors
@pane-item-background-color: @base-background-color;
@pane-item-border-color: @base-border-color;

@input-background-color: @base-background-color;
@input-background-color-active: @base-background-color;
@input-border-color: @base-border-color;

@tool-panel-background-color: @tab-background-color;
@tool-panel-border-color: @base-border-color;

@inset-panel-background-color: lighten(@base-background-color, 4%);
@inset-panel-border-color: @base-border-color;

@panel-heading-background-color: lighten(@base-background-color, 4%);
@panel-heading-border-color: @base-border-color;

@overlay-background-color: @tab-background-color;
@overlay-border-color: @base-border-color;
@overlay-shadow: 0 0.25em 1em 0 rgba(0, 0, 0, 0.3);
@overlay-border-color: darken(@overlay-background-color, 4%);

@button-background-color: lighten(@base-background-color, 10%);
@button-background-color-hover: lighten(@button-background-color, 12%);
@button-background-color-selected: @button-background-color-hover;
@button-border-color: @base-border-color;

@tab-bar-background-color: @base-background-color;
@tab-bar-border-color: @base-border-color;

@tab-background-color: lighten(@base-background-color, 5%);
@tab-background-color-active: lighten(@tab-background-color, 4%);
@tab-border-color: @base-border-color;
@tab-border-height: 0.3125em;

@tree-view-background-color: darken(@base-background-color, 2%);
@tree-view-border-color: @base-border-color;

// scrollbar
@scrollbar-color: rgba(127, 127, 127, .2);
@scrollbar-color-active: lighten(@scrollbar-color, 8%);

// site colors
@ui-site-color-1: #0088ff;
@ui-site-color-2: #20b684;
@ui-site-color-3: #cc8533;
@ui-site-color-4: #d831b0;
@ui-site-color-5: #ebdd5b;

// sizes
@font-size: 16px;
@font-sub-size: 0.875em;
@input-font-size: 1em;
@disclosure-arrow-size: 0.75em;

@component-padding: 0.625em;
@component-icon-padding: 0.3125em;
@component-icon-size: @font-size;
@component-line-height: 1.6875em;

@tab-height: 3.75em;

// misc
@material-bezier: cubic-bezier(0.4, 0.0, 0.2, 1);

@text-readability-shadow: 0 1px 1px rgba(0,0,0,0.5);
@highlight-shadow: inset 0px 1px rgba(255, 255, 255, 0.065);
@highlight-shadow-subtle: inset 0px 1px rgba(255, 255, 255, 0.045);

@highlight-shadow-left: inset 1px 0px rgba(255, 255, 255, 0.02);
@highlight-shadow-right: inset -1px 0px rgba(255, 255, 255, 0.02);

@component-border-radius: 2px;
@font-family: '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
