@import "ui-highlights";

// Colors

@text-color: #aaa;
@text-color-subtle: #5d5d5d;
@text-color-highlight: #fff;
@text-color-selected: @text-color-highlight;

@text-color-info: #5293d8;
@text-color-success: #2BDA77;
@text-color-warning: #fd8440;
@text-color-error: #c92525;

@text-color-ignored: @text-color-subtle;
@text-color-added: @text-color-success;
@text-color-renamed: @text-color-info;
@text-color-modified: @text-color-warning;
@text-color-removed: @text-color-error;

@background-color-info: #4b82b2;
@background-color-success: @text-color-success;
@background-color-warning: @text-color-warning;
@background-color-error: @text-color-error;
@background-color-highlight: fade(@text-color-highlight, 7%);
@background-color-selected: @highlight-color-bg;

@app-background-color: #333;

@base-background-color: @app-background-color;
@base-border-color: transparent;

@pane-item-background-color: @base-background-color;
@pane-item-border-color: @base-border-color;

@input-background-color: #222222;
@input-border-color: darken(@input-background-color, 2%);
@input-box-highlight: rgba(255,255,255,0.03);

@tool-panel-background-color: @base-background-color;
@tool-panel-border-color: @base-border-color;

@inset-panel-background-color: @input-background-color;
@inset-panel-border-color: @input-border-color;

@panel-heading-background-color: @base-background-color;
@panel-heading-border-color: @input-border-color;

@overlay-background-color: @base-background-color;
@overlay-border-color: @base-border-color;

@button-background-color: @input-background-color;
@button-background-color-hover: lighten(@button-background-color, 1%);
@button-background-color-selected: @highlight-color-bg;
@button-border-color: @input-border-color;

@tab-bar-background-color: @base-background-color;
@tab-bar-border-color: @base-border-color;
@tab-background-color: @base-background-color;
@tab-background-color-active: lighten(@tab-background-color, 4%);
@tab-border-color: @base-border-color;

@tree-view-background-color: @tool-panel-background-color;
@tree-view-border-color: @base-border-color;

@scrollbar-background-color: transparent;
@scrollbar-color: lighten(@tool-panel-background-color, 6%);

@ui-site-color-1: @background-color-success; // green
@ui-site-color-2: @background-color-info; // blue
@ui-site-color-3: @background-color-warning; // orange
@ui-site-color-4: #ae48e2; // purple
@ui-site-color-5: #f7c85b; // yellow


// Sizes

@font-size: 12px;
@input-font-size: 14px;
@dropdown-font-size: 14px;

@disclosure-arrow-size: @font-size;

@component-padding: 10px;
@component-icon-padding: 5px;
@component-icon-size: 16px;
@component-line-height: 25px;
@component-border-radius: 2px;

@tab-height: 50px;


// Other

@font-family: 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
